.projectSection {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px auto;
    padding: 20px;
    width: 90vw;
    /* flex-direction: row; */
    /* max-height: 100vh; */
    /* border: 1px solid wheat; */

    justify-content: center;
  }
  
  .projectContainer {
    padding: 20px;
    /* border: 1px solid wheat; */
    width: 30%;
    flex-wrap: wrap;
    min-width: 300px;
    box-sizing: border-box;
  }
  
  .projectContent h2 {
    font-size: 1.5rem;
  }
  
  button {
    padding: 10px;
    width: auto;
    border-radius: 10px;
    border: none;
    margin: 5px;
  }
  
  .lang {
    margin-top: 20px;
  }
  
  .btn {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
  
  @media (max-width: 768px) {
    .projectContainer {
      width: 100%;
    }
  
    .btn button {
      width: 45%;
    }
  }
  