.projectSection {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px auto;
    padding: 20px;
    width: 90vw;
    /* flex-direction: row; */
    /* max-height: 100vh; */
    /* border: 1px solid wheat; */

    justify-content: center;
  }
  
  .projectContainer {
    padding: 20px;
    /*border: 1px solid wheat;*/
    /* background-color: var(--color-primary); */
    width: 30%;
    gap: 20px;
    justify-content: space-between;
    border-radius: 30px;
    flex-wrap: wrap;
    min-width: 300px;
    box-sizing: border-box;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

  .projectContainer:hover{
    scale: 1.1;
    /* flex-shrink: var(1.3); */
  }
  
  .projectContent h2 {
    font-size: 1.5rem;
  }
  
  li{
    list-style-type: none;
  }

  button {
    padding: 10px;
    width: auto;
    border-radius: 10px;
    border: none;
    margin: 5px;
  }
  
  .lang {
    margin-top: 20px;
  }
  
  .btn {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
  
  @media (max-width: 768px) {
    .projectContainer {
      width: 100%;
    }
  
    .btn button {
      width: 45%;
    }
  }
  