.aboutSection {
    width: 90vw;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #fff;
    margin: 20px auto;
    border-radius: 20px;
    gap: 30px;
  }
  
  .userImg {
    width: 100%;
    text-align: center;
  }
  
  .aboutImg {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 10px;
  }
  
  .userStacks {
    width: 100%;
  }
  
  .frontend,
  .backend,
  .uiux {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin-top: 20px;
    border: 1px solid;
    padding: 20px;
  }
  
  /* For larger screens */
  @media (min-width: 768px) {
    .aboutSection {
      flex-wrap: nowrap;
    }
  
    .userImg {
      width: 40%;
    }
  
    .userStacks {
      width: 60%;
    }
  
    .frontend,
    .backend,
    .uiux {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  
    .aboutImg {
      width: 80%;
      max-width: 250px;
      height: auto;
    }
  }
  