.experienceSection {
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    color: #fff;
    padding: 20px;
    margin: auto;
    gap: 20px;
  }
  
  .techstackImages {
    width: 100%;
    text-align: center;
  }
  
  .techstackImages h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .experienceProjects {
    width: 100%;
  }
  
  .google,
  .microsoft,
  .netflix {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    border: 1px solid;
    border-radius: 12px;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.05);
  }
  
  .googleContent,
  .microsoftContent,
  .netflixContent {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  ul {
    margin-left: 20px;
  }
  
  /* Large screen adjustments */
  @media (min-width: 768px) {
    .experienceSection {
      flex-wrap: nowrap;
    }
  
    .techstackImages {
      width: 40%;
    }
  
    .experienceProjects {
      width: 60%;
    }
  
    .google,
    .microsoft,
    .netflix {
      flex-direction: row;
      align-items: center;
    }
  
    .googleContent,
    .microsoftContent,
    .netflixContent {
      flex: 1;
    }
  }
  